<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="core_header">
	
<head>
			<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
			
			<!-- CSS -->
			<link rel="stylesheet" th:href="@{/admin/core/css/bootstrap.min.css}" type="text/css"/>
			<link rel="stylesheet" th:href="@{/fontawesome/all.css}">
			<link rel="stylesheet" th:href="@{/admin/custom/css/toaster/toaster.css}">
			<link rel="stylesheet" th:href="@{/admin/custom/css/fontcustomstyle/fontcustomstyle.css}">
				 		
			<!-- SCRIPTS -->
			<script th:src="@{/admin/core/js/jquery.min.js}"></script>
			 <script th:src="@{/admin/core/js/bootstrap.min.js}"></script> 
			 <script th:src="@{/admin/custom/js/utilities_js/goback.js}"></script> 
			 
</head>				

</th:block>

</html>