<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
      
 <th:block th:replace="core/core_header :: core_header"></th:block> 
 
 <body>
 	
 	<div class="wrapper">
 		<div class="container-fluid">
 			
 			
 			<th:block th:replace="core/core_navbar :: core_navbar"></th:block> 
 			
 			<!-- #########################################################################  --> 
 			<div class="content-wrapper">
 				<div layout:fragment="content">
 	
 	
 				</div>
 			</div>
 			<!-- #########################################################################  --> 
 			
 			
 			 <!-- #########################################################################  --> 
 			<div layout:fragment="script">
 					
 							
 			</div>
 			<!-- #########################################################################  --> 
 
 		</div>
 	</div>
 		 
 	 
 </body>
 
 </html>
	  
	  